html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #fafafa;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 20px;
  word-wrap: break-word;
}

.book-card-green {
  background-color: #00b020;
}

.book-card-red {
  background-color: #ec1200;
}

.book-card-green,
.book-card-red {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.book-card-title {
  font-size: 30px;
  margin: 0 0 10px 0;
}

.book-card-text {
  margin: 0;
  margin-bottom: 10px;
}

.book-card-btn {
  margin-top: 10px;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 100px;
  padding: 10px;
}

.book-card-btn:hover {
  background-color: #00000033;
  border: 2px solid #00000033;
}

.add-card {
  background-color: #3853ee;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-card:hover {
  background-color: #4560fc;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(8, 8, 8, 0.8);
}

.modal-content {
  position: relative;
  background-color: #3853ee;
  margin: auto;
  padding: 1rem 3rem;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  color: #fafafa;
  font-size: 48px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: -28px;
  cursor: pointer;
}

.on {
  display: flex;
  align-items: center;
  justify-content: center;
}

.off {
  display: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  font-size: 25px;
}

.modal-checkbox {
  align-self: center;
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 20px 10px;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #333;
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
}

label[for='read'] {
  display: flex;
  align-items: center;
  align-self: center;
}

.error {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.submit-btn {
  margin-top: 10px;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 100px;
  padding: 10px;
  align-self: center;
}

.submit-btn:hover {
  background-color: #00000033;
  border: 2px solid #00000033;
}

#read {
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .header {
    text-align: center;
  }

  .book-card-green,
  .book-card-red,
  .add-card {
    margin: 0 30px;
  }

  .library-grid {
    grid-template-columns: initial;
  }
}

@media (max-width: 480px) {
  .book-card-green,
  .book-card-red,
  .add-card {
    margin: 0 20px;
  }

  .modal-content {
    width: 370px;
    padding: 1rem;
  }

  .closeBtn {
    margin-right: 0;
  }

  .input {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .book-card-green,
  .book-card-red,
  .add-card {
    margin: 0 10px;
  }

  .modal-content {
    width: 290px;
  }

  .input {
    padding: 5px 10px;
  }
}
