html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #fafafa;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.library-grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 20px;
}

.book-card-green {
  background-color: #00b020;
}

.book-card-red {
  background-color: #ec1200;
}

.book-card-green,
.book-card-red {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.book-card-title {
  font-size: 30px;
  margin: 0 0 10px 0;
}

.book-card-text {
  margin: 0;
  margin-bottom: 10px;
}

.book-card-btn {
  margin-top: 10px;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 100px;
  padding: 10px;
}

.book-card-btn:hover {
  background-color: #00000033;
  border: 2px solid #00000033;
}

.add-card {
  background-color: #3853ee;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-card:hover {
  background-color: #4560fc;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(39, 34, 34, 0.5);
}

.modal-content {
  position: relative;
  background-color: #3853ee;
  margin: auto;
  padding: 1rem 3rem;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  color: #fafafa;
  font-size: 48px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: -28px;
  cursor: pointer;
}

.on {
  display: flex;
  align-items: center;
  justify-content: center;
}

.off {
  display: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  font-size: 25px;
}

.input {
  width: 100%;
  padding: 20px 35px;
  font-size: 20px;
}

.add-btn {
  margin-top: 10px;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 100px;
  padding: 10px;
}

.add-btn:hover {
  background-color: #00000033;
  border: 2px solid #00000033;
}

#readInput {
  width: 20px;
  height: 20px;
}
